<div class="footer mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="d-block">
                    <h5>Telefono</h5>
                    <p>4451234556</p>
                </div>
            </div>
            <div class="col-4">
                <div class="d-block">
                    <h5>Direccion</h5>
                    <p>Calle Hidalgo #455 de moroleon GTO.</p>
                </div>
            </div>
            <div class="col-4">
                <div class="d-block">
                    <h5>Horarios</h5>
                    <p>De lunes a domingo de 09:00-16:00</p>
                </div>
            </div>
        </div>
    </div>
</div>