<h1 class="text-center my-4">Contacto</h1>


    <div class="container fondo ">
       

        <span class="p-float-label tma mx-4 mt-4">
            <input id="float-input tma" class="tma" type="text" pInputText> 
            <label for="float-input">Correo</label>
        </span>


        <span class="p-float-label tma mx-4 mt-4">
            <input id="float-input " class="tma" type="text" pInputText > 
            <label for="float-input">Nombre</label>
        </span>

        <textarea pInputTextarea class="tma mx-4 mt-4" placeholder="Mensaje"></textarea>

        <button class="btn btn-lg colr float-center mx-4 mt-4">Enviar</button>

    </div>

