<h1 class="text-center my-4">Opiniones</h1>
<ul class="list-group">
    <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4">
                        <p-avatar
                        label="E"
                        styleClass="p-mr-2"
                        size="xlarge"
                        [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"
                        shape="circle"
                      ></p-avatar>
                    </div>

                    <div class="col-5">
                        <div class="d-block">
                            <h3 class="h3">Edgar Bryan</h3>
                            <p>Me encanto sin duda el pastel hizo mas especial mi fiesta de cumple años.</p>
                        </div>
                    </div>

                    <div class="col-3">
                        <p-rating [ngModel]="val4" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
                    </div>
                </div>
            </div>
    </li>


    <li class="list-group-item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <p-avatar
                    label="R"
                    styleClass="p-mr-2"
                    size="xlarge"
                    [style]="{'background-color':'#FE2EF7', 'color': '#ffffff'}"
                    shape="circle"
                  ></p-avatar>
                </div>

                <div class="col-5">
                    <div class="d-block">
                        <h3 class="h3">Rigo Medrano</h3>
                        <p>Me encanto sin duda el pastel hizo mas especial mi fiesta de cumple años.</p>
                    </div>
                </div>

                <div class="col-3">
                    <p-rating [ngModel]="val4" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
                </div>
            </div>
        </div>
</li>


<li class="list-group-item">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <p-avatar
                label="E"
                styleClass="p-mr-2"
                size="xlarge"
                [style]="{'background-color':'#F5A9F2', 'color': '#ffffff'}"
                shape="circle"
              ></p-avatar>
            </div>

            <div class="col-5">
                <div class="d-block">
                    <h3 class="h3">Estela Mora</h3>
                    <p>Me encanto sin duda el pastel hizo mas especial mi fiesta de cumple años.</p>
                </div>
            </div>

            <div class="col-3">
                <p-rating [ngModel]="val4" [readonly]="true" [stars]="4" [cancel]="false"></p-rating>
            </div>
        </div>
    </div>
</li>


<li class="list-group-item">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <p-avatar
                label="A"
                styleClass="p-mr-2"
                size="xlarge"
                [style]="{'background-color':'#FF0000', 'color': '#ffffff'}"
                shape="circle"
              ></p-avatar>
            </div>

            <div class="col-5">
                <div class="d-block">
                    <h3 class="h3">Alexander Lopez</h3>
                    <p>Me encanto sin duda el pastel hizo mas especial mi fiesta de cumple años.</p>
                </div>
            </div>

            <div class="col-3">
                <p-rating [ngModel]="val4" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>

            </div>
        </div>
    </div>
</li>
</ul>