<app-menu></app-menu>

<h1 class="text-center mt-4">Pedidos Realizados</h1>
<table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Sabor</th>
        <th scope="col">Extras</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Alex</td>
        <td>Chocolate</td>
        <td>Fresas,Canela con 10 velas</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Edgar</td>
        <td>3 leches</td>
        <td>Con extra chocolate y chispas de colores</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Estela</td>
        <td>Canela</td>
        <td>Tematica de fiesta infantil, con muchas fresas</td>
      </tr>
    </tbody>
  </table>