<div class="container-fluid mt-3">

	<div class="row">
		<div class="col-12 col-sm-6 col-md-4" >
			<div class="card tamano">
				<img src="../../../assets/img/pastel1.jpg" class="card-img-top" alt="...">
			
				<div class="card-body">
					<h5 class="card-title">Pasteles para fiestas infantiles</h5>
					<hr>
					<p class="card-text">Construlle el pastel mas emocionante para tu hijo.</p>
					<a href="#" class="btn btn-primary posision">Comprar pastel</a>
				  </div>
			</div>
		</div>


		<div class="col-12 col-sm-6 col-md-4" >
			<div class="card tamano">
				<img src="../../../assets/img/pastel2.jpg" class="card-img-top" alt="...">
			
				<div class="card-body">
					<h5 class="card-title">Pasteles para bodas</h5>
					<hr>
					<p class="card-text">Recuerden este momento tan especial con un sabor especial</p>
					<a href="#" class="btn btn-primary posision">Comprar pastel</a>
				  </div>
			</div>
		</div>



		<div class="col-12 col-sm-6 col-md-4" >
			<div class="card tamano">
				<img src="../../../assets/img/pastel3.jpg" class="card-img-top" alt="...">
			
				<div class="card-body">
					<h5 class="card-title">Pasteles para eventos especiales,</h5>
					<hr>
					<p class="card-text">Los limites los pone tu mente, crea y diviertete con nosotros.</p>
					<a href="#" class="btn btn-primary posision">Comprar pastel</a>
				  </div>
			</div>
		</div>
	</div>
</div>